@* _SearchByDestinationComponent *@

<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Sona Otel Arama</h1>
                    <p>
                        Yüzlerce otel arasından ihtiyacınıza en uygun olanı kolayca bulun. Uygun fiyatlarla rezervasyon yapın.
                    </p>
                    <a href="#" class="primary-btn">Hemen Keşfet</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Bölgedeki Önemli Yerleri Bul</h3>
                    <form asp-controller="Home" asp-action="HotelsByDestination" method="post">
                        <div class="destination">
                            <label for="date-in">Hedef Şehir veya Bölge</label>
                            <input type="text" id="destination" name="destination" class="form-control" required>
                        </div>
                        <button type="submit">Otel Ara</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-3.jpg"></div>
    </div>
</section>
