
@*
    _HotelSearchComponent
*@

<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Sona Otel Arama</h1>
                    <p>
                        Yüzlerce otel arasından ihtiyaçlarınıza en uygun olanını bulun. Uygun fiyatlarla, kolay rezervasyon.
                    </p>
                    <a href="#" class="primary-btn">Hemen Keşfet</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Otel Rezervasyonu</h3>
                    <form action="#">
                        <div class="check-date">
                            <label for="date-in">Giriş Tarihi:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Çıkış Tarihi:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Misafir Sayısı:</label>
                            <select id="guest">
                                <option value="">2 Yetişkin</option>
                                <option value="">3 Yetişkin</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Oda Sayısı:</label>
                            <select id="room">
                                <option value="">1 Oda</option>
                                <option value="">2 Oda</option>
                            </select>
                        </div>
                        <button type="submit">Otel Ara</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-3.jpg"></div>
    </div>
</section>
